@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html,body{
    display: grid;
    height: 100%;
    place-items: center;
    /* background:#121212 */
}
body{
    background: rgba(118, 78, 126, 0.564);

    /* rgb(104, 0, 128); */
}

.wrapper{
    width: 400px;
    background: #ffffffcf;
    border-radius: 12px;
    /* border: 2px solid rgb(198, 39, 234); */
}

.wrapper .title{
    line-height: 90px;
    /* background: rgb(198, 39, 234); */
    background: rgb(104, 0, 128);;
    border-radius: 10px 10px 0 0 ;
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.wrapper form{
    padding:  30px 25px 25px 25px;
}

.wrapper form .row{
    height: 45px;
    margin-bottom: 15px;

    /*  */
    position: relative;
}

.wrapper form .row input{
    height: 100%;
    width: 100%;
    /*  */
    padding-left: 60px;
    /* margin-left: 60px; */
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 15px;
    /*  */
    transition: all 0.3s ease;
}

.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    background:rgb(104, 0, 128);
    border: 1px solid rgb(104, 0, 128);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    /*  */
    border-radius: 5px 0 0 5px;
    color: #ffff;
}

.wrapper form .button input{
    padding-left: 0;
    color: #ffff;
    background: rgb(104, 0, 128);
    border: 1px solid rgb(104, 0, 128);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.wrapper form .button input:hover{
    background:rgb(163, 2, 199);
}

.wrapper form .pass{
    margin: -5px 0 15px 0;
}

.wrapper form .pass a{
    color: rgb(104, 0, 128);
    text-decoration: none;
    font-size: 15px;
}

.wrapper form .pass a:hover{
    text-decoration: underline;
}

.wrapper form .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.wrapper form .signup-link a{
    color: rgb(104, 0, 128);
    text-decoration: none;
    font-size: 15px;
}

.wrapper form .signup-link a:hover{
    text-decoration: underline;
}

/*  */

form .row input:focus{
    border-color: rgb(104, 0, 128);
    box-shadow: inset 0px 0px 2px 2px rgb(104, 0, 128,0.25);
}



/*  */
.container{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}
body{
    overflow: hidden;
}