@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    /* background-color: #121212; */
    overflow:hidden;
}

.navbar{
    color: #fff;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #181818;
    align-items: center;
    position:sticky;
    /* justify-content: center; */
}
.navbar .logo{
    /* justify-content: center; */
    display: flex;
    /* align-items: center; */
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
     
}
.navbar .menu{
    display: flex;
    list-style-type: none;
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
   
    
}

.navbar .menu li a{
    text-decoration: none;
    color: white;
}
.navbar .menu li{
    margin:10px 20px 20px 0px;
    padding: 8px;
    transition: all 0.3s;
    font-weight: 600;
}

.content{
    background-image: url("back1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: absolute; */
    opacity: 1.5;
    width: 100%;
    height: 750px;
}

.content .item{
    color: white;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

.content .btn button{ 
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    /* font-size: large; */
    color: white;
    font-weight: 600;
    cursor: pointer;

    transition: all 0.3s;
}

.navbar .menu li:hover{
    background-color: #fff;
    border-radius: 5px;
}

.navbar .menu li:hover{
    color: #181818;
}

.content .btn button:hover{
    background-color: #fff;
    border-radius: 5px;
    color: #181818;
}
