@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.background{
    position: absolute;
    height: 100%;
    width: 100%;
    top:  0;
    left:  0;
    background: rgba(0, 0, 0, 0.5);
    /* opacity: 0;
    pointer-events: none; */
    opacity: 0;
    pointer-events: none;
    transition:  all 0.3s ease;
}

.alter-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:450px;
    width: 100%;
    background:gray;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    /*  */
    background: #fff;
    z-index: 5;
    /*  */
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    /*  */
    /* transform: translate(-50%, -50%) scale(0.97); */
}

.alter-box .icon{
    height: 100px;
    width: 100px;
    /* background-color: pink; */
    color: #f23b26;
    border: 3px solid #f23b26;
    border-radius: 50%;
    line-height: 97px;
    font-size: 50px;
}

.alter-box header{
    font-size: 35px;
    font-weight: 500;
    margin: 10px 0;
}

.alter-box p{
    font-size: 20px;
}

.alter-box .btns{
    margin-top: 20px;
}

.alter-box label{
    display: inline-flex;
    background: gray;
    height: 55px;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 55px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.btns label:first-child{
    background: #2980b9;
}
.btns label:first-child:hover{
    background: #2573a7;
}

.btns label:last-child{
    background: #f23b26;
}
.btns label:last-child:hover{
    background: #d9210d;
}

#check{
    display: none;
}

.show-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55px;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 55px;
    cursor: pointer;
    color: #fff;
    background: #2980b9;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.show-button:hover{
    background: #2573a7;
}

/* Logic */
#check:checked ~ .background{
    opacity: 1;
    pointer-events: auto;
}

#check:checked ~ .alter-box{
    opacity: 1;
    pointer-events: auto;
    /* transform: translate(-50%, -50%) scale(1); */
}
