@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
/* Design Of Background Balls */
body{
    height: 100vh;
    width: 100%;
    background:linear-gradient(135deg, #ff9a9e 10%, #F6416C 100%);
    /* background:linear-gradient(135deg, hsl(300, 100%, 77%) 10%, hsl(320, 100%, 63%) 100%); */
    display: flex;
    align-items: center;
}

body::before,
body::after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    opacity: 0.6;
}

body::before{
    clip-path: circle(30% at left 20%);
    background: linear-gradient(135deg, #F6416C 10%, #ff9a9e 100%);
    /* background: linear-gradient(135deg, hsl(320, 100%, 63%) 10%, hsl(300, 100%, 77%) 100%); */
}
body::after{
    clip-path: circle(25% at right 80%);
    background: linear-gradient(135deg, #F6416C 10%, #ff9a9e 100%);
    /* background: linear-gradient(135deg, hsl(320, 100%, 63%) 10%, hsl(300, 100%, 77%) 100%); */
}

header{
    height: 85vh;
    width: 90%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    margin: auto;
    
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgb(255, 255, 255, 0,5);
    border-left: 1px solid rgb(255, 255, 255, 0,5);
    border-radius: 25px;
}

header .navbar{
    width: 100%;
    display: flex;
    padding: 35px 50px;
    justify-content: space-between;
}

header .navbar .logo a{
    font-size: 22px;
    font-weight: 500;
    color: #000;
    text-decoration: none;   
}

header .navbar .menu{
    display: flex;
}

.navbar .menu li{
    list-style: none;
    margin: 0 6px;
}

.navbar .menu a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar .menu a:hover{
    color: #f2f2f2;
    /* text-decoration: underline; */
}

.navbar .buttons input{
    color: #f2f2f2;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    padding: 6px 12px;
    margin: 0 8px;
    background:linear-gradient(135deg, #F6416C 10%, #ff9a9e 100%);
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

.navbar .buttons input:hover{
    transform: scale(0.97);
}

.text-content{
    width: 40%;
    margin: 100px 0 0 50px;
}

.text-content h2{
    font-size: 27px;
    font-weight: 700;
}

.text-content p{
    margin-top: 10px;
    font-size: 15px;
}

header .connect{
    position: fixed;
    width: 100%;
    bottom: 2%;
    left: 20px;
}

.connect .connect-text{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    /* opacity: 0.5; */
}

.connect .media-icon{
    /* margin: 5px; */
    display: flex;
    align-items:end;
    justify-content: center;
    margin-top: 10px;
}

.connect .media-icon a{
    height: 40px;
    width: 40px;
    background: red;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* 1st Chi;d Linkdin */
.connect .media-icon a:nth-child(1){
    background: #0077B5;
}
.connect .media-icon a:nth-child(1):hover{
    background: #fff;
    color: #0077B5;
}
/* 2nd child GMail*/
.connect .media-icon a:nth-child(2){
    background: #EA4335;
}
.connect .media-icon a:nth-child(2):hover{
    background: #fff;
    color: #EA4335;
}
/* 3rd child github*/
.connect .media-icon a:nth-child(3){
    background: #f5f5f5;
    color:#333;
    font-size: 25px;
}
.connect .media-icon a:nth-child(3):hover{
    background:#333;
    color:#f5f5f5;
}
/* 4th child Instagram*/
.connect .media-icon a:nth-child(4){
    font-size: 20px;
    background: #E1306C;
}
.connect .media-icon a:nth-child(4):hover{
    background: #fff;
    color: #E1306C;
}

/* Responsicve */
@media (max-width:850px){
    header .navbar{
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu{
        margin: 10px 0 20px 0;
    }
    .text-content{
        width: 70%;
        margin: 30px 0 0 20px;
    }

}

@media (max-width:410px){
    header{
        height: 100vh;
        width: 100%;
    }
    .connect .media-icon a{
        font-size: 10px;
    }
}