@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #0069d9;
}

.wrapper{
    height: 100px;
    width: 400px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 20px 15px;
}

.wrapper .option{
    background: #fff;
    height: 100%;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    padding: 20px 15px;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    transition:  all 0,3s ease;
}

.wrapper .option span{
    color: #808080;
    font-size: 20px;
}

.wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    transition:  all 0,3s ease;
}

.wrapper .option .dot::before{
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    background: #0069d9;
    left: 4px;
    top: 4px;
    border-radius: 50%;
    opacity: 0;
    transition:  all 0,3s ease;
    transform: scale(1.5);
}

#option-1:checked ~ .option-1 .dot::before,
#option-2:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
}

#option-1:checked ~ .option-1 .dot,
#option-2:checked ~ .option-2 .dot{
    background: #fff;
}

#option-1:checked ~ .option-1,
#option-2:checked ~ .option-2{
    background: #0069d9;
    border-color: #0069d9;
}

#option-1:checked ~ .option-1 span,
#option-2:checked ~ .option-2 span{
    color: #fff;
}

.wrapper input[type="radio"]{
    display: none;
}